<!DOCTYPE html>
<html lang="pt-BR">
<%- include("../partials/head"); %>

<body>
  <%- include("../partials/menu"); %>
  <main>
    <!-- <section class="container"> -->
    <!-- <div class="container"> -->
    <div class="content-container">

      <img src="/static/images/fundo_floresta.jpeg" alt="Documento" width="100%" height="600px" />
      <div class="stamp-message error">
        <%- msg %>
      </div>
    </div>

    <!-- <div class="content-container">
      <p>Algum texto importante aqui...</p>
      <div class="stamp-message draft">
        RASCUNHO
      </div>
    </div> -->
    <!-- </div> -->
    <!-- </section> -->
  </main>
  <%- include("../partials/footer") %>
</body>

</html>